section {
  padding: 1em;
}
.error {
  margin: 1em;
  font-weight: bold;
  color: darkred;
}
.loader {
  margin: 1em;
  animation: blinker 2s ease infinite;
}
@keyframes blinker {
  50% {
    opacity: 0.5;
  }
}
.add {
  background-color: lightyellow;
}
.rm {
  background-color: red;
}

/* Lists */
ul.dataset-list {
  margin: 0;
  padding: 0;
  border-top: 1px dashed lightgray;
}
ul.dataset-list li {
  list-style: none;
  padding: 1em;
  cursor: pointer;
  border-bottom: 1px dashed lightgray;
}
ul.dataset-list li:hover {
  background-color: lightcyan;
}
ul.dataset-list li h2 {
  margin: 0;
}

/* Tables */
table th {
  text-align: left;
  white-space: nowrap;
}
table th strong {
  text-decoration: underline;
  cursor: pointer;
}
table th button {
  font-weight: bold;
}
table th button.active {
  color: darkcyan;
}
table td {
  border: 1px solid lightgray;
  vertical-align: top;
}
table td pre {
  margin: 0;
  white-space: pre-wrap;
}
table td pre code.hljs {
  padding: 0;
}
table tr.current {
  background-color: lightcyan;
}

/* Positioning */
.events-view {
  position: relative;
  height: 700px;
}
.playback-mode {
  position: absolute;
  z-index: 10;
  top: 5px;
  right: 5px;
}
.table-wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 5px;
  overflow: auto;
}
.table-wrap table {
  position: sticky;
  top: 0;
  width: 100%;
  border-collapse: collapse;
}
.table-wrap table th {
  position: sticky;
  top: 0;
  background-color: white;
}
.table-wrap table td {
  max-width: 50em;
}
.playback-controls {
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: 200px;
  margin-left: -50px;
}
.playback-controls button {
  font-size: 200%;
}
